.Education {
   background-color: var(--color6);
    width: 100%;
    max-width: 24em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: auto;
    border-radius: 1em;
    margin-top: 1em;
}



.Education__titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Education__title {
    color: var(--color3);
    font-size: 20px;
    font-weight: 600;
}

.edu__plus {
    border: 1px solid;
    border-radius: 50%;
    padding: .2em;
    cursor: pointer;
}

.linea__discontinua-edu {
    width: 100%; 
    border: 0;
    border-top: 2px dashed #a59f9f; 
    margin: 20px 0;
}

.Educatio__edu {
    padding: 1em;
    background-color: var(--color2);
    border-radius: .7em;
    margin-bottom: 1em;
}

.Education__edu-title {
    display: flex;
    justify-content: space-between;
}

.Education__edu-title > h1 {
    background-color: var(--color3);
    color: var(--color2);
    font-size: 12px;
    padding: .3em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    max-width: 14em;
    margin-bottom: 2em;
}

.Education__edu-title > ul {
    display: flex;
    list-style: none;
    gap: .5em;
}

.Education__edu-title > ul > li {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Education__dates {
    display: flex;
    flex-direction: column;
    gap: .7em;
}

.Education__dates > div {
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.Education__dates > div > h1 {
    font-size: 14px;
    color: var(--color7);
    display: flex;
    align-items: center;
    gap: .3em;
}

.edu__emo {
    font-size: 20px;
}

.Education__dates > div > p {
    font-size: 16px;
    font-weight: 500;
    color: var(--color3);
}

.UpdateEducation {
    width: 100%;
    display: grid;
    gap: 1em;
}

.UpdateEducation__form {
    width: 100%;
    display: grid;
    gap: 1em;
}

.UpdateEducation__form-divs {
    display: grid;
    gap: 1em;
}

.UpdateEducation__form-divs > div {
    display: grid;
    gap: .5em;
}

.UpdateEducation__form-divs > div > input {
    width: 100%;
    max-lines: 308px;
    padding: 1em;
    border: none;
    height: 50px;
    border-radius: 1em;
}

.UpdateEdu__btn {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.Btn__update {
    width: 100%;
    padding: 1em;
    border: none;
    background: var(--color11);
    color: var(--color2);
    cursor: pointer;
    border-radius: 5px;
}

.Btn__cancel {
    background-color: var(--color10);
    width: 100%;
    padding: 1em;
    border: none;
    color: var(--color2);
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
  

@media (min-width: 700px) {
    .Education {
        background-color: var(--color6);
         width: 100%;
         max-width: 1000px;
         padding: 1em;
         display: flex;
         flex-direction: column;
         gap: 1em;
         margin: auto;
         border-radius: 1em;
         margin-top: 4em;
     }

     .Educatio__edu {
        padding: 1em;
        background-color: var(--color2);
        border-radius: .7em;
        max-width: 25em;
    }
    .UpdateEducation__form-divs {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
    
    .UpdateEducation__form-divs > div {
        display: grid;
        gap: .5em;
    }
    
    .UpdateEducation__form-divs > div > input {
        width: 100%;
        max-lines: 308px;
        padding: 1em;
        border: none;
        height: 50px;
        border-radius: 1em;
    }

    .UpdateEdu__btn {
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .Btn__update{
        width: 100%;
        max-width: 16em;
        padding: 1em;
        border: none;
        background: var(--color11);
        color: var(--color2);
    }

    .Btn__cancel {
        background-color: var(--color10);
        width: 100%;
        max-width: 16em;
        padding: 1em;
        border: none;
        color: var(--color2);
        cursor: pointer;
        border-radius: 5px;
    }
      
}