.Home {
    position: relative;
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}
/* Pantalla de carga */
.LoadingScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--color1);
    color: #fff;
    font-family: 'Arial', sans-serif;
  }
  
  .LoadingSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .Spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .LoadingText {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
  
  /* Pantalla de error */
  .ErrorScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: #ff6b6b;
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
  }
  
  .ErrorMessage {
    font-size: 1.2rem;
    font-weight: bold;
  }
  