.UpdatePassword_Header {
    display: flex;

}
.UpdatePassword_Header > button {
    z-index: 10000000000000000000;
    position: fixed;
    background-color: transparent;
    right: 0;
    margin-right: 2em;
    margin-top: .6em;
    border-radius: 50%;
    border: none;
    color: var(--color2);
    font-size: 40px;
    cursor: pointer;
}

.change-password {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to bottom, #ffffff, #f0f0f0);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    margin-top: 7em;
  }
  
  .change-password__title {
    text-align: start;
    color: var(--color3);
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .change-password__form {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  .change-password__field {
    position: relative;
  }
  
  .change-password__icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
  }
  
  .change-password__input {
    width: 100%;
    padding: 10px 40px 10px 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .change-password__toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .change-password__toggle-icon {
    font-size: 20px;
    color: #888;
  }
  
  .change-password__strength-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }
  
  .change-password__strength-segment {
    flex: 1;
    height: 4px;
    margin: 0 2px;
    background-color: #e0e0e0;
    border-radius: 2px;
    transition: background-color 0.3s;
  }
  
  .change-password__strength-segment.is-active {
    background-color: #ff4d4f; /* Muy débil (Rojo) */
  }
  
  .change-password__strength-segment.is-weak {
    background-color: #ff7f50; /* Débil (Coral) */
  }
  
  .change-password__strength-segment.is-medium {
    background-color: #ffa500; /* Media (Naranja) */
  }
  
  .change-password__strength-segment.is-strong {
    background-color: #28a745; /* Fuerte (Verde) */
  }
  
  
  .change-password__policy {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .change-password__label {
    font-size: 14px;
  }
  
  .change-password__button {
    background-color: var(--color11);
    color: var(--color2);
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    max-width: 233px;
    margin: auto;
  }
  
 @media (min-width: 700px) {
    .change-password__form {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
 }